<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Meet'N'Play</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<!--    <meta http-equiv="refresh" content="60">-->
</head>
<body>
<div>
<a href="http://localhost:8080/room">
    <button type="submit" style="font-size: 20px;">Create Room</button>
</a>
</div>
<br>
<div th:each="room: ${rooms}">
    <div style="border-style: solid; border-color: black; padding:10px">
        <form action="/user/addUser" method="post">
            <label>User name:</label>
            <input type="text" name="name">
            <input type="hidden" name="room" th:value="${room.id}">
            <button type="submit">Enter Room</button>
        </form>
        <br>
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, u: ${room.users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.code}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <label>Max Users for this room:</label>
        <span th:text="${room.maxroom}"></span>
        <!--        <label>Number of Users in this room:</label>-->
        <!--        <span th:text="${u.count}">/10</span>-->
        <br>
        <label>Game Room Key:</label>
        <span th:text="${room.gamekey}" style="color: blue; font-size:150%"></span>
    </div>
    <br><br>
</div>

</body>
</html>